html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

$cinza-texto: #333;
$cinza: #b4b4b4;
$cinza-escuro: #7F7F7F;
$turquesa1: #c7e9ea;
$turquesa2: #41a18e;
$turquesa3: #0e7e70;
$turquesa4: #386563;



html{
	font-family: 'IBM Plex Sans', sans-serif;
	font-size: 14px;
	line-height: 1.618;
	@media screen and (max-width: 1100px){
		line-height: 1.5;
	}
	color: $cinza-texto;
}

::-webkit-scrollbar {
    width: 0.75rem;
    height: 0.75rem;
	@media screen and (max-width: 800px){
		width: 0.5rem;
		height: 0.5rem;
	}

    background-color: $cinza;
}

::-webkit-scrollbar-thumb{
	border-radius: 0.375rem;
	@media screen and (max-width: 800px){
		border-radius: 0.25rem;
	}

	background-color: $turquesa3;
}

button{
	appearance: none;
	background-color: transparent;
	border: none;
	padding: 0; margin: 0;
	&:hover{
		cursor: pointer;
	}
	&:focus{
		outline: none;
	}
}

@keyframes animOpacity {
	from 	{opacity: 0;}
	to 		{opacity: 1;}
}

@keyframes fromLeft{
	from{transform: translateX(-30px)}
	to{transform: translateX(0px)}
}